.input {
  &__control {
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: 2px solid var(--color-brand-gray);
    border-radius: 32px;
    padding-left: 32px;
    outline: none;
    transition:
      color 0.2s,
      border-color 0.2s;
    color: var(--color-primary-white);
  }

  &__control::-moz-placeholder {
    color: var(--color-primary-white);
  }

  &__control::placeholder {
    color: var(--color-primary-white);
  }

  &__control:focus {
    border-color: var(--color-primary-white);
  }

  &__control:focus::-moz-placeholder {
    color: var(--color-brand-gray);
  }

  &__control:focus::placeholder {
    color: var(--color-brand-gray);
  }
}
