@use '../utils/variables' as *;

.hero-section {
  padding: 25px 0px 28px;
  z-index: 11;

  @media screen and (min-width: $bp-tablet) {
    padding: 17px 0px 126px;
  }

  &__flex {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    z-index: 2;

    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-start;
    }
  }

  &__container {
    text-align: center;
    max-width: 680px;
    padding-left: 0px;
    font-size: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
    @media screen and (min-width: $bp-desktop) {
      text-align: start;
      padding-left: 106px;
    }
  }

  &__description {
    margin-bottom: 0px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: Play;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.8;
    color: var(--color-primary-blue);
    margin-bottom: 32px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 100px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 140px;
      margin-bottom: 40px;
    }
  }

  &__button {
    border-radius: 24px;
    border: 1px solid var(--color-primary-blue);
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px;
    margin-bottom: 14px;
    transition:
      color 0.5s,
      background-color 0.5s,
      0.2s;

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 32px;
      border-radius: 32px;
    }
  }

  &__button:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
    cursor: pointer;
    transform: scale(1.1);
  }

  &__text {
    margin: 0 auto;
    width: 238px;
    font-size: 12px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }
}
