@import url(./fonts.css);
@import url(./reset.css);
@import url(./variables.css);


/* Styles for whole page */
*{
  box-sizing: border-box;
}

/* Base styles */

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-white);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* Чому не можна поставити цей контейнер поверх всієї сторінки? */
/* Тут ми добавили до ширини відступи від падінгів */
.container{
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
} 


/* Titles */

.section-title {
  font-family: Play;
  font-size: 64px;
  font-weight: 900;
}

.section-title-span {
  color: var(--color-primary-blue);
}

/* Header Section */

.header-nav-link:hover {
  font-weight: 700;
  color: var(--color-primary-blue);
}

/* Hero Section */

.hero-section{
  padding: 17px 0px 63px;
}

.hero-section-description{
  margin-bottom: 16px;
}

.hero-title {
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  color: var(--color-primary-blue);
  margin-bottom: 40px;
}

.hero-section-button {
  border-radius: 32px;
  border: 1px solid var(--color-primary-blue);
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.hero-section-button:hover{
  background-color: transparent;
  color: var(--color-primary-dark);
  cursor: pointer;
}

/* Company section */

/* Прописав до кожнї секції окремий паддінг, оскільки для всіх давати один в цьому лендінгу не ок, бо потім ще купа разів добавити чи видалити деталі, краще зразу прописав. */

.company-section{
  padding: 63px 0px 98px; 
}

.company-title{
  margin-bottom: 40px;
}

/* Advantages section */

.advantages-section{
  padding: 98px 0px 48px;
}

.advantages-icon{
  fill: var(--color-primary-blue);
}

.advantages-title{
  margin-bottom: 48px;
}

/* Services section */

.services-section{
  padding: 48px 0px;
}

.services-title{
  margin-bottom: 48px;
}


/* Contacts section */

.contacts-section{
  padding: 48px 0px 96px;
}

.contacts-title{
  margin-bottom: 48px;
}


/* Footer Section */
footer {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
  font-size: 16px;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-nav-link:hover, 
.footer-address li:hover {
  color: var(--color-primary-blue);
}
.footer-social-item{
  fill: var(--color-primary-white);
}

.footer-text-author{
  color: var(--color-brand-gray);
}

