:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dark: #011c44;
  --color-brand-dark-gray: #4a4a4a;
  --color-brand-gray: #747272;
  --color-brand-dark-blue: #011f4a;
  --color-brand-yellow: #ffd02b;
}